*.xcworkspacedata
*.xcuserstate
*.DS_Store
*.xcsettings
*.xcuserstate
*.xcodeproj
gswcmd
*.1dump.o
examples.o
fastq.o
getSeeds.o
ghash.o
gliamodels.o
gsw.o
jsoncpp.o
main.o
matrices.o
nodealign.o
parameters.o
seqtools.o
show.o
traceback.o
dump.o
*.o
clia
*~
libbamtools.a
